.login-page
  .login-header
    position: relative
    height: auto
    margin: 2.5rem auto
    .logo
      background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-retina.b95a7dd.png)
      background-position: 0 !important
      background-size: contain !important
      width: 5.125rem
      height: 3.375rem
      display: block
  .form
    display: flex
    align-items: center
    margin: 1rem 0
  .tips
    margin-top: .625rem
    margin-bottom: .625rem
    padding: .625rem
    border: .0625rem solid #f5d8a7
    border-radius: .125rem
    font-size: .75rem
    background: #fff6db
  .username
    margin: .625rem 0
  .password
    margin: .625rem 0
  .foot
    margin: .625rem 0
  .btn-login
    margin-top: .625rem
    padding: .75rem .9375rem
    border: none
    color: #fff
    background-color: #2db3a6
