.login-page
  .form
    display: flex
    align-items: center
    margin: 2rem 0 .5rem
  .el-form-item
    margin: .625rem 0
  .tips
    margin-top: .625rem
    margin-bottom: .625rem
    padding: .625rem
    border: .0625rem solid #f5d8a7
    border-radius: .125rem
    background: #fff6db
  .username
    margin: .625rem 0
  .password
    margin: .625rem 0
  .foot
    margin: .625rem 0
  .btn
    margin: .625rem 0
    width: 100%
