@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.alphabet
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: 6rem
  right: 0
  bottom: 0
  .alphabet-item
    width: 1.5rem
    height: 1.4rem
    line-height: 1.4rem
    font-size: 1.4rem
    text-align: center
    color: $color-yellow
