.login-page
  .login-header
    position: relative
    height: auto
    margin: 2.5rem auto
    .logo
      background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-retina.b95a7dd.png)
      background-position: 0 !important
      background-size: contain !important
      width: 5.125rem
      height: 3.375rem
      display: block
  .form
    display: flex
    margin: 1rem 0
  .register-text
    font-size: 1rem
  .login-text
    display: inline-block
    margin: 0 1.25rem