@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.seller
  position: absolute
  left: 0
  top: 10.875rem
  bottom: 0
  width: 100%
  overflow: hidden
  .overview
    position: relative
    padding: 1.125rem
    border-1px($color-black-ss, bottom)
    .title
      margin-bottom: .5rem
      line-height: .875rem
      font-size: .875rem
      color: $color-black
    .desc
      padding-bottom: 1.125rem
      border-1px($color-black-ss, bottom)
      font-size: 0
      .star
        display: inline-block
        margin-right: .5rem
        vertical-align: top
      .text
        display: inline-block
        margin-right: .75rem
        line-height: 1.125rem
        vertical-align: top
        font-size: .625rem
        color: $color-gray
    .remark
      display: flex
      padding-top: 1.125rem
      .block
        flex: 1
        border-right: .0625rem solid $color-black-ss
        text-align: center
        &:last-child
          border: none
        h2
          margin-bottom: .25rem
          line-height: .625rem
          font-size: .625rem
          color: $color-gray
        .content
          line-height: 1.5rem
          font-size: .625rem
          color: $color-black
        .stress
          font-size: 1.5rem
    .favorite
      position: absolute
      right: .6875rem
      top: 1.125rem
      width: 3.125rem
      text-align: center
      .icon-favorite
        display: block
        margin-bottom: .25rem
        line-height: 1.5rem
        font-size: 1.5rem
        color: $color-gray
        &.active
          color: $color-text-important
      .text
        line-height: .625rem
        font-size: .625rem
        color: $color-gray
  .bulletin
    padding: 1.125rem 1.125rem 0 1.125rem
    border-1px($color-black-ss, top)
    .title
      margin-bottom: .5rem
      line-height: .875rem
      font-size: .875rem
      color: $color-black
    .content-wrapper
      padding: 0 .75rem 1rem .75rem
      border-1px($color-black-ss, bottom)
      .content
        line-height: 1.5rem
        font-size: .75rem
        color: $color-text-important
    .supports
      .support-item
        padding: 1rem .75rem
        border-1px($color-black-ss, bottom)
        font-size: 0
        &:last-child
          border-none()
      .icon
        display: inline-block
        margin-right: .375rem
        width: 1rem
        height: 1rem
        vertical-align: top
        background-size: 1rem 1rem
        background-repeat: no-repeat
        &.decrease
          bg-image("decrease_4")
        &.discount
          bg-image("discount_4")
        &.guarantee
          bg-image("guarantee_4")
        &.invoice
          bg-image("invoice_4")
        &.special
          bg-image("special_4")
      .text
        line-height: 1rem
        font-size: .75rem
        color: $color-black
  .pics
    padding: 1.125rem
    .title
      margin-bottom: .75rem
      line-height: .875rem
      font-size: .875rem
      color: $color-black
    .pic-wrapper
      width: 100%
      white-space: nowrap
      overflow: hidden
    .pic-list
      font-size: 0
    .pic-item
      display: inline-block
      margin-right: .375rem
      width: 7.5rem
      height: 5.625rem
      img
        width: 7.5rem
        height: 5.625rem
    &:last-child
      margin: 0
  .info
    padding: 1.125rem 1.125rem 0 1.125rem
    color: $color-black
    .title
      border-1px($color-black-ss, bottom)
      padding-bottom: .75rem
      line-height: .875rem
      font-size: .875rem
    .info-item
      border-1px($color-black-ss, bottom)
      padding: 1rem .75rem
      line-height: 1rem
      font-size: .75rem
    &:last-child
      border-none()