@import '../../assets/scss/mixin.scss';

.ratings {
  position: absolute;
  left: 0;
  top: 174px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  .overview {
    display: flex;
    padding: 18px 0 18px 18px;
    .overview-left {
      flex: 0 0 137px;
      padding: 6px 0;
      border-right: 1px solid rgba(7, 17, 27, 0.1);
      width: 137px;
      text-align: center;
      @media only screen and (max-width: 320px) {
        flex: 0 0 120px;
        width: 120px;
      }
      .score {
        margin-bottom: 12px;
        line-height: 28px;
        font-size: 24px;
        color: rgb(255, 153, 0);
      }
      .title {
        margin-bottom: 8px;
        line-height: 12px;
        font-size: 12px;
        color: rgb(7, 17, 27);
      }
      .rank {
        line-height: 10px;
        font-size: 12px;
        color: rgb(147, 153, 159);
      }
    }
    .overview-right {
      flex: 1;
      padding: 6px 0 6px 24px;
      @media only screen and (max-width: 320px) {
        padding-left: 6px;
      }
      .score-wrapper {
        margin-top: 8px;
        line-height: 18px;
        font-size: 0;
        .title {
          display: inline-block;
          vertical-align: top;
          line-height: 18px;
          font-size: 12px;
          color: rgb(7, 17, 27);
        }
        .star {
          display: inline-block;
          margin: 0 12px;
          vertical-align: top;
        }
        .score {
          display: inline-block;
          line-height: 18px;
          vertical-align: top;
          font-size: 12px;
          color: rgb(266, 153, 0);
        }
      }
      .delivery-wrapper {
        font-size: 0;
        .title {
          display: inline-block;
          line-height: 18px;
          vertical-align: top;
          font-size: 12px;
          color: rgb(7, 17, 27);
        }
        .delivery {
          display: inline-block;
          margin-left: 12px;
          line-height: 18px;
          vertical-align: top;
          font-size: 12px;
          color: rgb(147, 153, 159);
        }
      }
    }
  }
  .bulletin {
    padding: 18px 18px 0 18px;
    .title {
      margin-bottom: 8px;
      line-height: 14px;
      font-size: 14px;
      color: rgb(7, 17, 27);
    }
    .content-wrapper {
      padding: 0 12px 16px 12px;
      @include border-1px(rgba(7, 17, 27, 0.1));
      .content {
        line-height: 24px;
        font-size: 12px;
        color: rgb(240, 20, 20);
      }
    }
    .supports {
      .support-item {
        padding: 16px 12px;
        @include border-1px(rgba(7, 17, 27, 0.1));
        font-size: 0;
        &:last-child {
          @include border-none();
        }
      }
      .icon {
        display: inline-block;
        margin-right: 6px;
        width: 16px;
        height: 16px;
        vertical-align: top;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        &.decrease {
          @include bg-image('decrease_4');
        }
        &.discount {
          @include bg-image('discount_4');
        }
        &.guarantee {
          @include bg-image('guarantee_4');
        }
        &.invoice {
          @include bg-image('invoice_4');
        }
        &.special {
          @include bg-image('special_4');
        }
      }
      .text {
        line-height: 16px;
        font-size: 12px;
        color: rgb(7, 17, 27);
      }
    }
  }
  .pics {
    padding: 18px;
    .title {
      margin-bottom: 12px;
      line-height: 14px;
      font-size: 14px;
      color: rgb(7, 17, 27);
    }
    .pic-wrapper {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    .pic-list {
      font-size: 0;
    }
    .pic-item {
      display: inline-block;
      margin-right: 6px;
      width: 120px;
      height: 90px;
      img {
        width: 120px;
        height: 90px;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
  .info {
    padding: 18px 18px 0 18px;
    color: rgb(7, 17, 27);
    .title {
      @include border-1px(rgba(7, 17, 27, 0.1));
      padding-bottom: 12px;
      line-height: 14px;
      font-size: 14px;
    }
    .info-item {
      @include border-1px(rgba(7, 17, 27, 0.1));
      padding: 16px 12px;
      line-height: 16px;
      font-size: 12px;
    }
    &:last-child {
      @include border-none();
    }
  }
}
