@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.ratingselect
  border-1px($color-gray-s, top)
  .rating-type
    padding: 1.125rem 0
    border-1px($color-gray-s, bottom)
    font-size: 0
    .block
      &:nth-child(1)
        margin: 0 .5rem 0 1.125rem
      display: inline-block
      margin-right: .5rem
      padding: .5rem .75rem
      border-radius: .0625rem
      font-size: .75rem
      color: $color-gray
      background: $color-yello-l
      &.active
        color: $color-white
        background: $color-yellow
      .count
        margin-left: .125rem
        line-height: 1rem
        font-size: .5rem
  .switch
    padding: .75rem 1.125rem
    border-1px($color-gray-s, bottom)
    line-height: 1.5rem
    font-size: 0
    color: $color-gray
    &.on
      .icon-check_circle
        color: $color-green
    .icon-check_circle
      display: inline-block
      margin-right: .25rem
      vertical-align: top
      font-size: 1.5rem
    .text
      font-size: .75rem