@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.ratingselect
  .rating-type
    margin: 0 1.125rem
    padding: 1.125rem 0
    // border-1px($color-gray)
    font-size: 0
    .block
      display: inline-block
      margin-right: .5rem
      padding: .5rem .75rem
      border-radius: .0625rem
      font-size: .75rem
      color: $color-gray
      &.positive
        background: $color-light-blue
        &.active
          color: $color-white
          background: $color-blue
      &.negative
        background: $color-light-blue
        &.active
          color: #fff
          background: $color-blue
      .count
        margin-left: .125rem
        line-height: 1rem
        font-size: .5rem
  .switch
    padding: .75rem 1.125rem
    border-top: .0625rem solid $color-black-ss
    border-bottom: .0625rem solid $color-black-ss
    line-height: 1.5rem
    font-size: 0
    color: $color-gray
    &.on
      .icon-check_circle
        color: $color-green
    .icon-check_circle
      display: inline-block
      margin-right: .25rem
      vertical-align: top
      font-size: 1.5rem
    .text
      font-size: .75rem