@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.goods
  display: flex
  position: absolute
  top: 10.875rem
  bottom: 2.875rem
  width: 100%
  overflow: hidden
  .menu-wrapper
    flex: 0 0 5rem
    width: 5rem
    background: #f3f5f7
    .menu-item
      // Multi-line text Vertical centering
      display: table
      padding: 0 .75rem
      width: 3.5rem
      height: 3.375rem
      line-height: .875rem
      /* Let it be highlighted */
      &.current
        z-index: 10
        position: relative
        margin-top: -0.0625rem
        font-weight: 700
        background: #fff
        .text
          border-none()
      .icon
        display: inline-block
        margin-right: .125rem
        width: .75rem
        height: .75rem
        vertical-align: top
        background-size: .75rem .75rem
        background-repeat: no-repeat
        &.decrease
          bg-image("decrease_3")
        &.discount
          bg-image("discount_3")
        &.guarantee
          bg-image("guarantee_3")
        &.invoice
          bg-image("invoice_3")
        &.special
          bg-image("special_3")
      .text
        display: table-cell
        // father element: display: table
        border-1px($color-black-ss)
        width: 3.5rem
        vertical-align: middle
        // Multi-line text Vertical centering
        font-size: .75rem
  .foods-wrapper
    flex: 1
    .food-list
      .title
        padding-left: .875rem
        border-left: .125rem solid #d9dde1
        height: 1.625rem
        line-height: 1.625rem
        font-size: .75rem
        color: rgb(147, 153, 159)
        background: #f3f5f7
      .food-item
        display: flex
        margin: 1.125rem
        padding-bottom: 1.125rem
        border-1px($color-black-ss)
        &:last-child
          margin-bottom: 0
          border-none()
        .icon
          flex: 0 0 3.5625rem
          margin-right: .625rem
          img
            width: 3.5625rem
            height: 3.5625rem
        .content
          flex: 1
          .name
            margin: .125rem 0
            height: .875rem
            line-height: .875rem
            font-size: .875rem
            color: rgb(7, 17, 27)
          .desc,
          .extra
            margin: .5rem 0
            line-height: .875rem
            font-size: .625rem
            color: rgb(147, 153, 159)
          .extra
            .count
              margin-right: .75rem
          .price
            line-height: 1.5rem
            font-weight: 700
            .now
              margin-right: .5rem
              font-size: .875rem
              color: rgb(240, 20, 20)
            .old
              font-size: .625rem
              text-decoration: line-through
              color: rgb(147, 153, 159)
          .cartControl-wrapper
            position: absolute
            right: 0
            bottom: .75rem