@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.goods
  display: flex
  position: absolute
  top: 10.875rem
  bottom: 2.875rem
  width: 100%
  overflow: hidden
  .menu-wrapper
    flex: 0 0 5rem
    width: 5rem
    background: $color-white-ss
    .menu-item
      display: table // 多行文本居中 1
      padding: 0 .75rem
      width: 3.5rem
      height: 3.375rem
      line-height: .875rem
      &.current
        z-index: 10
        position: relative
        margin-top: -0.0625rem
        font-weight: 700
        background: $color-white
        .text
          border-none()
      .icon
        display: inline-block
        margin-right: .125rem
        width: .75rem
        height: .75rem
        vertical-align: top
        background-size: .75rem .75rem
        background-repeat: no-repeat
        &.decrease
          bg-image("decrease_3")
        &.discount
          bg-image("discount_3")
        &.guarantee
          bg-image("guarantee_3")
        &.invoice
          bg-image("invoice_3")
        &.special
          bg-image("special_3")
      .text
        display: table-cell // 多行文本居中 2
        border-1px($color-black-ss, bottom)
        width: 3.5rem
        vertical-align: middle // 多行文本居中 3
        font-size: .75rem
  .foods-wrapper
    flex: 1
    .food-list
      .title
        padding-left: .875rem
        border-left: .125rem solid $color-gray-s
        height: 1.625rem
        line-height: 1.625rem
        font-size: .75rem
        color: $color-gray
        background: $color-white-s
      .food-item
        display: flex
        margin: 1.125rem
        padding-bottom: 1.125rem
        border-1px($color-black-ss, bottom)
        &:last-child
          margin-bottom: 0
          border-none()
        .icon
          flex: 0 0 3.5625rem
          margin-right: .625rem
          img
            width: 3.5625rem
            height: 3.5625rem
        .content
          flex: 1
          .name
            margin: .125rem 0
            height: .875rem
            line-height: .875rem
            font-size: .875rem
            color: $color-black
          .desc,
          .extra
            margin: .5rem 0
            line-height: .875rem
            font-size: .625rem
            color: $color-gray
          .extra
            .count
              margin-right: .75rem
          .price
            line-height: 1.5rem
            font-weight: 700
            .now
              margin-right: .5rem
              font-size: .875rem
              color: $color-red
            .old
              font-size: .625rem
              text-decoration: line-through
              color: $color-gray
          .cartControl-wrapper
            position: absolute
            right: 0
            bottom: .75rem