@import '../../assets/stylus/mixin.styl'
.home
  z-index: 1
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 4rem
  overflow: hidden
.back-to-ceiling
  position: fixed
  display: inline-block
  right: 1rem
  bottom: 5rem
  text-align: center
  cursor: pointer
.fade-enter-active,
.fade-leave-active
  transition: opacity .5s
.fade-enter,
.fade-leave-to
  opacity: 0
.icon-circle-up
  font-size: 2rem
