.title
  margin: .1rem 0 0 0
  line-height: .8rem
  text-indent: .2rem
  background: #eee
.list-content
  overflow: hidden
  padding-bottom: 1rem
.list-title
  margin-top: 1rem
  margin-bottom: 1rem
  text-align: center;
  font-size: 1rem
  .title-line
    display: inline-block
    border-bottom: .1rem solid #949494
    margin-left: .4rem
    margin-right: .4rem
    margin-bottom: .2rem
    width: 2rem
    height: .1rem
.item
  display: flex
  padding-top: .4rem
  padding-bottom: .4rem
  margin-left: .1rem
  margin-right: .4rem
  color: #656565
  .item-img
    width: 6rem
    height: 5rem
    border: .1rem solid #e4e4e4
  .item-info
    flex: 1
    margin-left: .5rem
    overflow: hidden
    .item-title
      margin-top: .2rem
      font-size: 1rem
      font-weight: 500
      color: #333
    .item-desc
      margin: .4rem 0 .4rem 0
      height: 1rem
      font-size: .8rem
    .item-score
      float: left
    .item-count
      float: left
      margin-left: .5rem
    .item-time
      float: right
      margin-right .2rem
    .item-distance
      float: right
    .item-price
      margin: .4rem 0 .4rem 0
      height: 1rem
    .item-pre-price
      display: inline-block
    .item-delivery-type
      display: inline-block
      display: none
    .highlight
      float: right
      display: block
      color: #f00
      padding: .4rem
      border-radius: .4rem
      color: #000
      background-color: #ffd161
  @media screen and (max-width: 400px)
   .item-img
     width: 5rem
     height: 4rem
