ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.icons >>> .swiper-container
  padding-bottom: 50%
  height: 0
  overflow: hidden
.icons
  margin-top: .1rem
  .icon
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    float: left
    position: relative
    width: 25%
    height: 0
    padding-bottom: 25%
    overflow: hidden
    .icon-img
      margin: 0 auto
      height: 5rem
      .icon-img-content
        height: 100%
    .icon-desc
      position: absolute
      left: 0
      right: 0
      bottom: .5rem
      text-align: center
      font-size: 1rem
      color: #333
      ellipsis()
