
ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.icons >>> .swiper-container
  padding-bottom: 50%
  height: 0
  overflow: hidden
.icons
  background: #ff0
  margin-top: .1rem
  .icon
    float: left
    position: relative
    width: 25%
    height: 0
    padding-bottom: 25%
    overflow: hidden
    .icon-img
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 4rem;
      .icon-img-content
        display: block
        margin: 0 auto
        height: 100%
    .icon-desc
      position: absolute
      left: 0
      right: 0
      bottom: 1rem
      text-align: center
      color: #333
      ellipsis()
