@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.cartControl
  font-size: 0
  .cart-decrease,
  .cart-add
    display: inline-block
    padding: 6px
    opacity: 1
    transform: translate3d(0, 0, 0)
    .inner
      display: inline-block
      line-height: 24px
      vertical-align: top
      font-size: 24px
      color: $color-light-blue
      transition: all 0.4s linear
      transform: rotate(0deg)
    &.move-enter-active,
    &.move-leave-active
      transition: all 0.4s linear
    &.move-enter,
    &.move-leave-active
      opacity: 0
      transform: translate3d(24px, 0, 0)
      .inner
        transform: rotate(180deg)
  .cart-count
    display: inline-block
    padding-top: 6px
    width: 12px
    line-height: 24px
    text-align: center
    vertical-align: top
    font-size: 10px
    color: $color-gray
  .cart-add
    display: inline-block
    padding: 6px
    line-height: 24px
    vertical-align: top
    font-size: 24px
    color: $color-blue