@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.cartControl
  font-size: 0
  .cart-decrease,
  .cart-add
    display: inline-block
    padding: .375rem
    opacity: 1
    transform: translate3d(0, 0, 0)
    .inner
      display: inline-block
      line-height: 1.5rem
      vertical-align: top
      font-size: 1.5rem
      color: $color-theme
      transition: all 0.4s linear
      transform: rotate(0deg)
    &.move-enter-active,
    &.move-leave-active
      transition: all 0.4s linear
    &.move-enter,
    &.move-leave-active
      opacity: 0
      transform: translate3d(1.5rem, 0, 0)
      .inner
        transform: rotate(180deg)
  .cart-count
    display: inline-block
    padding-top: .375rem
    width: .75rem
    line-height: 1.5rem
    text-align: center
    vertical-align: top
    font-size: .625rem
    color: $color-black
  .cart-add
    display: inline-block
    padding: .375rem
    line-height: 1.5rem
    vertical-align: top
    font-size: 1.5rem
    color: $color-theme