@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.header
  position: relative
  color: $color-white
  background: $color-black-s
  overflow: hidden
.content-wrapper
  position: relative
  padding: 1.5rem .75rem 1.125rem 1.5rem
  font-size: 0
  .avatar
    display: inline-block
    vertical-align: top
    img
      width: 4rem
      height: 4rem
      border-radius: .25rem
  .content
    display: inline-block
    margin-left: 1rem
    .title
      margin: .125rem 0 .5rem 0
      .brand
        display: inline-block
        width: 1.875rem
        height: 1.125rem
        vertical-align: top
        bg-image("brand")
        background-size: 1.875rem 1.125rem
        background-repeat: no-repeat
      .name
        margin-left: .375rem
        line-height: 1.125rem
        font-size: 1rem
        font-weight: bold
    .description
      margin-bottom: .625rem
      line-height: .75rem
      font-size: .75rem
    .support
      .icon
        display: inline-block
        margin-right: .25rem
        width: .75rem
        height: .75rem
        vertical-align: top
        background-size: .75rem .75rem
        background-repeat: no-repeat
        &.decrease
          bg-image("decrease_1")
        &.discount
          bg-image("discount_1")
        &.guarantee
          bg-image("guarantee_1")
        &.invoice
          bg-image("invoice_1")
        &.special
          bg-image("special_1")
      .text
        line-height: .75rem
        font-size: .625rem
  .support-count
    position: absolute
    right: .75rem
    bottom: .875rem
    padding: 0 .5rem
    border-radius: .875rem
    height: 1.5rem
    line-height: 1.5rem
    text-align: center
    background: $color-black-s
    .count
      vertical-align: top
      font-size: .625rem
    .icon-keyboard_arrow_right
      margin-left: .125rem
      line-height: 1.5rem
      font-size: .625rem
  .back
    position: absolute
    top: .625rem
    right: 0
    .icon-arrow_lift
      display: block
      padding: .625rem
      font-size: 1.25rem
      color: $color-white
.bulletin-wrapper
  position: relative
  padding: 0 1.375rem 0 .75rem
  height: 1.75rem
  line-height: 1.75rem
  background: $color-black-ss
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  .bulletin-title
    display: inline-block
    margin: .5rem 0 0 0
    width: 1.375rem
    height: .75rem
    vertical-align: top
    bg-image("bulletin")
    background-size: 1.375rem .75rem
    background-repeat: no-repeat
  .bulletin-text
    margin: 0 .25rem
    vertical-align: top
    font-size: .625rem
  .icon-keyboard_arrow_right
    position: absolute
    top: .5rem
    right: .75rem
    font-size: .625rem
.background
  z-index: -1
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  filter: blur(.625rem)
  img
    width: 100%
    height: 100%
.detail
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $color-black-s
  overflow: auto
  transition: all 0.5s
  backdrop-filter: blur(.625rem)
  &.fade-transition
    background: $color-black-s
    opacity: 1
  &.fade-enter,
  &.fade-leave-to
    background: $color-black-s
    opacity: 0
  .detail-wrapper
    width: 100%
    min-height: 100%
    /* 3: A The length of the package content will change */
    .detail-main
      margin-top: 1.25rem
      padding-bottom: 4rem
      /* 4: A give B Reserved space */
      .name
        line-height: 1rem
        text-align: center
        font-size: 1rem
        font-weight: 700
      .star-wrapper
        margin-top: 1.125rem
        padding: .125rem 0
        text-align: center
      .title
        display: flex
        margin: 1.75rem auto
        // block elment, Horizontally centered
        width: 80%
        .line
          flex: 1
          position: relative
          top: -0.375rem
          border-bottom: .0625rem solid $color-light-blue
        .text
          padding: 0 .75rem
          font-size: .875rem
          font-weight: 700
      .supports
        margin: 0 auto
        width: 80%
        .support-item
          margin-bottom: .75rem
          padding: 0 .75rem
          font-size: 0
          &:last-child
            margin-bottom: 0
          .icon
            display: inline-block
            margin-right: .375rem
            width: 1rem
            height: 1rem
            vertical-align: top
            background-size: 1rem 1rem
            background-repeat: no-repeat
            &.decrease
              bg-image("decrease_2")
            &.discount
              bg-image("discount_2")
            &.guarantee
              bg-image("guarantee_2")
            &.invoice
              bg-image("invoice_2")
            &.special
              bg-image("special_2")
          .text
            line-height: 1rem
            font-size: .75rem
      .bulletin
        margin: 0 auto
        width: 80%
        .content
          padding: 0 .75rem
          line-height: 1.5rem
          font-size: .75rem
  .detail-close
    position: relative
    margin: -4rem auto 0
    /* 5: B Embed A give B reserved space */
    width: 2rem
    height: 2rem
    font-size: 2rem
    // Fork size
    clear: both
    /* 6: B clear: both */