@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.my
  .header
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 10rem
    background-image: url("img/header.png")
    background-size: cover
    overflow: hidden
  .icon
    width: 5rem
    height: 5rem
    background-size: cover
    background-image: url("img/usericon.png")
  .nickname
    margin-top: .9375rem
    text-align: center
    font-size: 1rem
    color: $color-black-s
  .content
    min-height: 31.6875rem
    background-color: $color-white-s
  .items
    background-color: $color-white
    position relative
    &:after
      display: block
      position: absolute
      right: 0
      bottom: 0
      width: 96%
      border-top: .0625rem solid $color-white-s
      content: ''
    li
      position: relative
      padding-left: 1.625rem
      margin-left: .9375rem
      border-bottom: .0625rem solid $color-white-s
      height: 2.8125rem
      line-height: 2.8125rem
      font-size: .875rem
      &:last-child
        border: none
      &:before
        content: ''
        display: block
        position: absolute
        top: 50%
        left: .0625rem
        width: 1rem
        height: 1rem
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        background-size: cover
      &:after
        content: '>'
        display: block
        position: absolute
        right: .5625rem
        top: 0
        width: 1rem
        height: 1rem
        color: $color-gray
    .address
      &:before
        background-image: url("./img/address.png")
    .money
      &:before
        background-image: url("./img/money.png")
    .email
      &:before
        background-image: url("./img/email.png")
    .question
      &:before
        background-image: url("./img/question.png")
    .login
      color $color-black
    .register
      color $color-black
  .btn
    &.register
      position absolute
      bottom 2rem
      // margin: .625rem 0 0 0
      width: 100%
    &.login
      position absolute
      bottom 5rem
      width: 100%
    &.logout
      position absolute
      bottom 8rem
      width: 100%
