// @import 'assets/stylus/mixin.styl'
// @import 'assets/stylus/variable.styl'
.list
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: 2rem
  right: 0
  bottom: 0
  width: 1.5rem
  .item
    line-height: 1.5rem
    text-align: center
    color: #00bcd4
