@import '../../assets/stylus/mixin.styl'
@import '../../assets/stylus/variable.styl'
.shopCart
  z-index: 50
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  height: 3rem
  .content
    display: flex
    font-size: 0
    color: $color-gray
    background: $color-black
    .content-left
      flex: 1
      .logo-wrapper
        box-sizing: border-box
        display: inline-block
        position: relative
        top: -0.625rem
        margin: 0 .75rem
        padding: .375rem
        border-radius: 50%
        width: 3.5rem
        height: 3.5rem
        vertical-align: top
        background: $color-black
        .num
          position: absolute
          top: 0
          right: 0
          border-radius: 1rem
          width: 1.5rem
          height: 1.5rem
          line-height: 1.5rem
          text-align: center
          font-size: .5625rem
          font-weight: 700
          color: $color-white
          background: $color-red
          box-shadow: 0 .25rem .5rem 0 $color-black
        .logo
          border-radius: 50%
          width: 100%
          height: 100%
          text-align: center
          background: #2b343c
          &.highlight
            background: $color-blue
          .icon-shopping_cart
            line-height: 2.75rem
            font-size: 1.5rem
            color: $color-gray
            &.highlight
              color: $color-white
      .price
        box-sizing: border-box
        display: inline-block
        margin-top: .75rem
        padding-right: .75rem
        border-right: .0625rem solid $color-light-blue
        line-height: 1.5rem
        vertical-align: top
        font-size: 1rem
        font-weight: 700
        color: $color-gray
        &.highlight
          color: $color-white
      .desc
        display: inline-block
        margin-left: .75rem
        margin-top: .75rem
        line-height: 1.5rem
        vertical-align: top
        font-size: .625rem
        color: $color-gray
    .content-right
      flex: 0 0 6.5625rem
      width: 6.5625rem
      .pay
        height: 3rem
        line-height: 3rem
        text-align: center
        font-size: .75rem
        font-weight: 700
        color: $color-gray
        background: $color-light-blue
        &.not-enough
          background: $color-light-blue
        &.enough
          color: $color-white
          background: $color-green
  .ball-container
    .ball
      z-index: 200
      position: fixed
      left: 2rem
      bottom: 1.375rem
      transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41)
      .inner
        border-radius: 50%
        width: 1rem
        height: 1rem
        background: $color-blue
        transition: all 0.5s linear
  .shopCart-list
    z-index: -1
    position: absolute
    top: 0
    left: 0
    width: 100%
    transform: translate3d(0, -100%, 0)
    &.fold-enter-active,
    &.fold-leave-active
      transition: all 0.5s
    &.fold-enter,
    &.fold-leave-active
      transform: translate3d(0, 0, 0)
    .list-header
      padding: 0 1.125rem
      border-bottom: .0625rem solid $color-gray
      height: 2.5rem
      line-height: 2.5rem
      background: $color-white
      .title
        float: left
        font-size: .875rem
        color: $color-gray
      .empty
        float: right
        font-size: .75rem
        color: $color-blue
    .list-content
      padding: 0 1.125rem
      max-height: 13.5625rem
      background: $color-white
      overflow: hidden
      .shopCart-food
        box-sizing: border-box
        position: relative
        padding: .75rem 0
        border-1px($color-gray)
        .name
          line-height: 1.5rem
          font-size: .875rem
          color: $color-gray
        .price
          position: absolute
          right: 5.625rem
          bottom: .75rem
          line-height: 1.5rem
          font-size: .875rem
          font-weight: 700
          color: $color-red
        .cartControl-wrapper
          position: absolute
          right: 0
          bottom: .375rem
.list-mask
  z-index: 40
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  backdrop-filter: blur(.625rem)
  // ios blurry
  -webkit-backdrop-filter: blur(.625rem)
  background: $color-black-s
  opacity: 1
  &.fade-enter-active,
  &.fade-leave-active
    background: $color-black-s
    transition: all 0.5s linear
    opacity: 1
  &.fade-enter,
  &.fade-leave-active
    background: $color-black-s
    opacity: 0